<html>
<head>
    <meta charset="UTF-8">
    <title>API平台</title>
    <link href="{{url_for('static',filename='css/amazeui.min.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/admin.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/app.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/bootstrap/bootstrap.min.css')}}"  rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='img/logo.png')}}" type="image/x-icon">
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/echarts.common.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
    <script src="{{url_for('static',filename='js/script/jquery.min.js')}}"></script>
    <script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
</head>
<body style="background-color:ghostwhite" >
<header class="am-topbar am-topbar-inverse admin-header">
    <p></p>
    <div class="am-topbar-brand" style="height: 65px;">
        <a href="javascript:;" class="tpl-logo">
            <img src="{{url_for('static',filename='img/logo.png')}}"  height="100%" alt="" >
        </a>
    </div>
</header>
<div class="tpl-page-container tpl-page-header-fixed" >
    <div class="tpl-left-nav tpl-left-nav-hover"  >
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu ">


                {% for modelInfo in modelNameLink %}
                <li class="tpl-left-nav-item">
                    <a href="{{modelInfo[1]}}" class="nav-link ">
                        <i class="am-icon-home"></i>
                        <span>{{modelInfo[0]}}</span>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li style="color:red">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="tpl-content-wrapper" style="margin-top: -7px;">
        <div class="row">
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> Project: {{ project_cout }} </div>
                        <div class="desc"> 项目</div>
                    </div>
                    <a class="more" href="{{ url_for('views.project_select') }}"> 查看项目
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-apple"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            Interface: {{ jiekou }}
                        </div>
                        <div class="desc"> 接口</div>
                    </div>
                    <a class="more" href="{{ url_for('views.http_select') }}"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> TestReport </div>
                        <div class="desc"> 测试报告</div>
                    </div>
                    <a class="more" href="/Report"> 查看报告
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> TsutieMake </div>
                        <div class="desc"> 测试集合</div>
                    </div>
                    <a class="more" href="/httpSuite"> 上传集合
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> PhonesManager </div>
                        <div class="desc"> 号码管理</div>
                    </div>
                    <a class="more" href="/testIndex"> 查看号码
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"  onclick="displayInput()"> CreatePhone </div>
                        <div id="createPhone" class="desc">
                        </div>
                    </div>
                    <a class="more" onclick="makeUser()">
                        创建号码
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"  onclick="displayCouponInput()"> CreateCoupon </div>
                        <div id="CreateCoupon" class="desc">
                        </div>
                    </div>
                    <a class="more" onclick="createCoupon()">
                        创建优惠券
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12"></div>
    </div>
 </div>
</div>
<div style='text-align: center;margin-bottom: auto;
    min-height: 15px;
    height: 30px;
    margin-top: 10px;
    padding-top: 30px;'>
</div>
<script>
    function displayInput(){
    text = '<input style="background-color:transparent;float:left;width:20%;text-align:center;margin-left:20px;" type="text"  name="env" id="env" placeholder="环境"><input style="background-color:transparent;float:left;width:20%;text-align:center;color:#FFF;opacity: 1;" type="text"  name="num" id="num" placeholder="编号"><input style="background-color:transparent;float:left;width:40%;text-align:center;color:#FFF;opacity: 1;" type="text"  name="phone" id="phone" placeholder="手机号码"><input style="background-color:transparent;float:left;width:10%;text-align:center;color:#FFF;opacity: 1;" type="text"  name="user_role" id="user_role" placeholder="角色">';
    if($("#env").length>0){
        $("#createPhone").empty();}
    else{
    $("#createPhone").append(text);
    }
    }
    function displayCouponInput(){
    text = '<input style="background-color:transparent;float:left;width:20%;text-align:center;margin-left:20px;" type="text"  name="env" id="env" placeholder="环境"><input style="background-color:transparent;float:left;width:20%;text-align:center;color:#FFF;opacity: 1;" type="text"  name="num" id="num" placeholder="编号"><input style="background-color:transparent;float:left;width:40%;text-align:center;color:#FFF;opacity: 1;" type="text"  name="phone" id="phone" placeholder="手机号码"><input style="background-color:transparent;float:left;width:10%;text-align:center;color:#FFF;opacity: 1;" type="text"  name="couponPrice" id="couponPrice" placeholder="金额">';
    if($("#env").length>0){
        $("#CreateCoupon").empty();}
    else{
    $("#CreateCoupon").append(text);
    }
    }

    function makeUser(){
    var env = $("#env").val();
    var num = $("#num").val()
    var phone = $("#phone").val();
    var user_role = $("#user_role").val();
  //   alert(env);
 //    alert(num);
 //    alert(phone);
  //   alert(user_role);
  if ($("#user_role").length>0){
       $.ajax({
             url: "/make_user",
             type: "get",
             data: {
                 env_num: num,
                 env_flag: env,
                 phones: phone,
                 user_role:user_role
                 }
                 }).done(function(result){
                    if (result.code == "200"){
                        alert(JSON.stringify(result));
                        window.open(result.url);
                        window.focus();
                        }
                    else if (result.code == "204"){
                        alert(JSON.stringify(result));
                        window.open(result.url);
                        window.focus();
                        }
                    else{
                        alert(JSON.stringify(result));
                       }
                });
                }
    else{
    alert("请点击 CreatePhone 元素，并输入参数");
    }
    }

function createCoupon(){
    var env = $("#env").val();
    var num = $("#num").val()
    var phone = $("#phone").val();
    var couponPrice = $("#couponPrice").val();
  //   alert(env);
 //    alert(num);
 //    alert(phone);
  //   alert(couponPrice);
  if ($("#couponPrice").length>0){
       $.ajax({
             url: "/get_coupon",
             type: "get",
             data: {
                 env_num: num,
                 env_flag: env,
                 phone: phone,
                 couponPrice:couponPrice
                 }
                 }).done(function(result){
                    if (result.code == "200"){
                        alert(JSON.stringify(result));
                        }
                    else{
                        alert(JSON.stringify(result));
                       }
                });
             }
      else{
      alert("请点击 CreateCoupon 元素，并输入参数");
      }
    }

</script>
</body>
</html>