.main-layout-header {
  height: 60px;
  border-bottom: 1px solid #3e3737;
  background: black;
}
.main-layout-header a {
  text-decoration: none;
}
.main-layout-header .menu-btn {
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.main-layout-header .menu-btn .iconfont {
  font-size: 20px;
  color: #444c63;
}
.main-layout-header .layui-nav {
  float: right;
  padding: 0;
  background: transparent;
}
.main-layout-header .layui-nav li {
  border-left: 1px solid #3e3737;
}
.main-layout-header .layui-nav .layui-nav-item > a:hover {
  color: #999;
}
.main-layout-header .layui-nav > .layui-this a {
  color: #00b5f9;
}
.main-layout-header .layui-nav .layui-nav-bar {
  display: none;
}
.main-layout-header .layui-nav .layui-this:after {
  height: 0;
}
.main-layout-header .layui-nav .layui-nav-child dd.layui-this a {
  color: #333;
}
.main-layout-header .layui-nav .layui-nav-child dd.layui-this {
  color: #333;
  background: #f2f2f2;
}
.main-layout-side {
  width: 200px;
  height: 100%;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  transition: left 0.3s;
}
.main-layout-side .layui-nav {
  background: black;
}
.layui-nav-tree .layui-nav-item a:hover
{background-color:#4E5465}
.main-layout-side .layui-nav-itemed > a {
  background: #444c63 !important;
}
 .layui-nav .layui-nav-item a:hover,
 .layui-nav .layui-this a{color:#fff}
